{% extends "base.html.twig" %}

{% block body %}
    <p>ADMIN</p>
    <p>ADMIN</p>
    <p>ADMIN</p>
    <p>ADMIN</p>
    <p>ADMIN</p>
    <p>ADMIN</p>
    <p>ADMIN</p>
    <p>ADMIN</p>
    <p>ADMIN</p>
    <p>ADMIN</p>
    <p>ADMIN</p>
    <p>ADMIN</p>
    <p>ADMIN</p>
    <p>ADMIN</p>
    <p>ADMIN</p>
    <p>ADMIN</p>
    <p>ADMIN</p>
    <p>ADMIN</p>
    <p>ADMIN</p>
    <p>ADMIN</p>
    <p>ADMIN</p>
    <p>ADMIN</p>
    <p>ADMIN</p>
    <p>ADMIN</p>
    <p>ADMIN</p>
    <p>ADMIN</p>
    <p>ADMIN</p>
    <p>ADMIN</p>
    <p>ADMIN</p>
    <p>ADMIN</p>
    <p>ADMIN</p>
    <p>ADMIN</p>
    <p>ADMIN</p>
    <p>ADMIN</p>
    <p>ADMIN</p>
    <p>ADMIN</p>
{% endblock %}

{% block javascripts %}{% endblock %}