// Page Connection / Inscription
#loginContainer {
  #loginTextContainer {
    .loginForm {
      input {
        font-size: 2rem;
      }
    }
  }
}

// Page About
#aboutContainer {
  #aboutTextContainer {
    #aboutText {
      padding: 3rem 3rem 31vw 3rem;
    }
  }
}

// Page Profil joueur
#profilContainer {
  #profilContainerScroll {
    #profilTextContainer {
      form {
        > div {
          > div {
            width: 30.7%;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

// Barre GameControl
#gameControls {
  #principalControlRow {
    #gameCitygmaPicto {
      padding: 0 0 2rem 2rem;

      img {
        width: 21rem;
      }
    }
  }

  #pictoInterrog {
    left: 3rem;
    bottom: 25.5rem;

    img {
      width: 10rem;
    }
  }

  #pictoLoupe {
    left: 15.5rem;
    bottom: 24rem;

    img {
      width: 12rem;
    }
  }

  #pictoLivre {
    left: 25rem;
    bottom: 12rem;

    img {
      width: 17rem;
    }
  }
}