// Page About
#aboutContainer {
  #aboutTextContainer {
    #aboutText {
      .imgAbout {
        float: right;

        img {
          width: 33vw;
          height: auto;
          margin-left: 3rem;
        }
      }
    }
  }
}

// Page Profil joueur
#profilContainer {
  #profilContainerScroll {
    #profilTextContainer {
      padding: 3rem 5.5rem 3rem 3rem;

      #profilAdventures {
        .adventureDescription {
          border-image-source: url("../images/cadre-paysage.png");
          border-image-slice: 12;
          border-image-width: 2;
        }
      }
    }
  }
}