// Page Connection / Inscription
#loginContainer {
  #loginTextContainer {
    padding-top: 15vh;
    text-align: center;

    img {
      width: 40%;
    }

    .loginForm {
      width: 100%;
      padding: 0 10%;
    }
  }
}