// Page About
#aboutContainer {
  #aboutTextContainer {
    #aboutText {
      .imgAbout {
        float: right;

        img {
          width: 33vw;
          height: auto;
          margin-left: 3rem;
        }
      }
    }
  }
}