// Page Connection / Inscription
#loginContainer {
  #loginTextContainer {
    background-image: url('../images/trace-coin-ville-left.png'), url('../images/trace-aerations-droite.png');
    background-repeat: no-repeat, no-repeat;
    background-size: 50%, auto 100%;
    background-position: left 0 bottom 0, right 0 bottom 0;

    .loginForm {
      form > div {
        text-align: center;
      }
    }
  }
}

// Page About
#aboutContainer {
  #aboutTextContainer {
    #aboutText {
      .imgAbout {
        float: right;

        img {
          width: 33vw;
          height: auto;
          margin-left: 3rem;
        }
      }
    }
  }
}

// Page Contact
#contactContainer {
  #contactContainerScroll {
    #contactTextContainer {
      padding: 3rem 15vw 3rem 10vw;
    }
  }
}

// Page Profil joueur
#profilContainer {
  #profilContainerScroll {
    #profilTextContainer {
      padding: 3rem 5.5rem 3rem 3rem;

      #profilAdventures {
        .adventureDescription {
          border-image-source: url("../images/cadre-paysage.png");
          border-image-slice: 12;
          border-image-width: 2;
        }
      }

      form {
        > div {
          > div {
            width: 50%;
          }
        }
      }
    }
  }
}

// Barre GameControl
#gameControls {
  #principalControlRow {
    #gameCitygmaPicto {
      padding: 0 0 2rem 2rem;

      img {
        width: 12rem;
      }
    }
  }

  #pictoInterrog {
    left: 3rem;
    bottom: 15.5rem;

    img {
      width: 6rem;
    }
  }

  #pictoLoupe {
    left: 10.5rem;
    bottom: 15rem;

    img {
      width: 8rem;
    }
  }

  #pictoLivre {
    left: 16rem;
    bottom: 7rem;

    img {
      width: 10rem;
    }
  }
}