#citygma_container {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  background-color: #DEA000;
}

#homepageContainer {
  width: 100%;
  height: 100%;
}

#homepageBubble {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;

  #homepageText {
    width: 41%;
    height: 100%;
    //background-color: $white;
  }

  #homepageTextBorder {
    z-index: 5000;
    width: 2.5%;
    height: 100%;
    background-image: url('../images/barre-bulle.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right 0 bottom 0;
  }
}

#homepageArrows {
  left: 41vw;
}

#homepageImmeubles {
  z-index: 6000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../images/ville.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right 0 bottom 0;
}

#homepageImmeubleRight {
  z-index: 7000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/aerations-droite.png');
  background-repeat: no-repeat;
  background-size: 9% auto;
  background-position: right 0 bottom 0;
}

// Page Connection / Inscription
#loginContainer {
  #loginTextContainer {
    display: flex;
    align-items: flex-start;
    background-size: 30%, auto 100%;
    padding-top: 3rem!important;

    img {
      width: 25%!important;
    }

    .loginForm {
      width: 100%;
      padding: 0 10%;
      @media screen and (min-width: $min-breakpoint-tablet) {
        //padding-top: 20%!important;
      }
    }
  }
}

// Page About
#aboutContainer {
  padding: 7rem 0 0 30vw;

  #aboutImmeubleLeft {
    left: 0;
  }

  #aboutVille {
    width: 30vw;
  }
}

#playButton {
  position: absolute;
  right: 20vw;
  bottom: 15%;
  @include transform(translateX(0%));
  width: 20vw;
  height: 9vw;
  @include border-radius(5vw);
  font-size: 5vw;
}

// Page Profil joueur
#profilContainer {
  #profilImmeubleLeft {
    left: -1rem;
  }
}