@import '_variables';
@import '_mixins';

// Charte
@import '_global';

header {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  height: 7rem;
  width: 100%;
  background-color: #fdc53c/*#f9f9f8*/;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  #burgerButton {
    cursor: pointer;

    .bar1, .bar2, .bar3 {
      width: 30px;
      height: 2px;
      background-color: $black;
      margin: 8px 0;
      @include transition(all .2s linear);
    }

    &:hover .bar1 {
      width: 15px;
    }

    &.activeBurger {
      &:hover .bar1 {
        width: 30px;
      }
      .bar1 {
        @include transform(rotate(-45deg) translate(-9px, 5px));
      }
      .bar2 {opacity: 0;}
      .bar3 {
        @include transform(rotate(45deg) translate(-8px, -6px));
      }
    }
  }
}

nav {
  z-index: 8000;
  position: fixed;
  width: 32rem;
  height: 20rem;
  top: -20rem;
  right: 0;
  @include transition(all .2s linear);
  background-color: #ffdc57;
  padding: 3rem;
  text-align: right;
  @include border-radius(0 0 10px 10px);
  box-shadow: 0 0 5px 3px rgba(0,0,0,0.2);

  ul {
    font-size: 2rem;

    li {
      cursor: pointer;
      margin-bottom: 1rem;

      p {
        @include transition(margin-right .2s ease-in-out);
      }

      &:hover p {
        margin-right: 2rem;
      }
    }
  }

  a {
    color: black;
  }

  &.openedNav {
    top: 7rem;
  }
}

#citygma_container {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  background-color: $orangeBack;
}

#homepageContainer {
  width: 100%;
  height: 100%;
}

#homepageBubble {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;

  #homepageText {
    position: relative;
    width: 67vw;
    height: 100%;
    background-color: $white;
    overflow: hidden;

    #homepageTextScroll {
      position: absolute;
      top: 0;
      left: 0;
      padding: 9rem 2rem 0 2rem;
      @include transition(all .2s ease-in-out);

      #homepageTitle {
        text-align: center;
        margin-bottom: 2rem;
      }

      #homepageTextContainer {
        text-align: center;

        p {
          margin-bottom: 1rem;
        }
      }
    }
  }

  #homepageTextBorder {
    z-index: 5000;
    width: 4vh;
    height: 100%;
    background-image: url('../images/barre-bulle.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right 0 bottom 0;
  }
}

#homepageArrows {
  z-index: 7500;
  position: fixed;
  top: 10rem;
  left: 65.5vw;
  display: flex;
  flex-direction: column;

  img {
    width: 20px;
    height: auto;
  }
}

#homepageImmeubles {
  z-index: 6000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../images/ville.png');
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: right -2vw bottom -6vw;
}

#homepageImmeubleRight {
  z-index: 7000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/aerations-droite.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right 0 bottom 0;
}

// Page Connection / Inscription
#loginContainer {
  width: 100%;
  height: 100vh;
  padding-top: 7rem;

  /*#loginImmeubleLeft {
    z-index: 7000;
    position: fixed;
    top: 0;
    right: 0;
    width: 14vh;
    height: 100vh;
    background-image: url('../images/trace-aerations-droite.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right 0 bottom 0;
    @include transform(scaleX(-1));
  }*/

  #loginTextContainer {
    position: relative;
    padding: 3rem 13vh 3rem 3rem;
    width: 100%;
    height: calc(100vh - 7rem);
    background-image: url('../images/trace-coin-ville-left.png'), url('../images/trace-aerations-droite.png');
    background-repeat: no-repeat, no-repeat;
    background-size: 80%, auto 100%;
    background-position: left 0 bottom 0, right 0 bottom 0;
    overflow-y: scroll;

    /*#loginImmeubleLeft {
      z-index: 7000;
      position: absolute;
      top: 0;
      right: 0;
      width: 14vh;
      height: 100vh;
      background-image: url('../images/trace-aerations-droite.png');
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: right 0 bottom 0;
    }*/

    img {
      width: 50%;
      height: auto;
    }

    .loginForm {
      text-align: center;

      label {
        display: block;
        margin-bottom: 0.5rem;
      }

      input {
        width: 100%;
        padding: 0.6rem 1rem;
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      #loginSubmit {
        text-align: right;
        margin-top: 1rem;

        #loginSubmitButton {
          display: inline-block;
          //height: 2rem;
          padding: 1.5rem;
          @include border-radius(2rem);
          background-color: #733a3a;
          color: $white;
          text-align: right;
        }
      }
    }
  }
}

// Page About
#aboutContainer {
  padding: 7rem 0 0 28vw;

  #aboutImmeubleLeft {
    z-index: 7000;
    position: fixed;
    top: 0;
    left: -4vw;
    width: 14vh;
    height: 100vh;
    background-image: url('../images/aerations-droite.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right 0 bottom 0;
    @include transform(scaleX(-1));
  }

  #aboutVille {
    z-index: 6000;
    position: fixed;
    top: 0;
    left: 0;
    width: 28vw;
    height: 100vh;
    background-image: url('../images/trace-ville.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right 0 bottom 0;
  }

  #aboutTextContainer {
    width: 100%;
    height: calc(100vh - 7rem);
    overflow-y: scroll;
    background-color: $white;

    #aboutText {
      width: 100%;
      background-image: url('../images/trace-coin-ville.png');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: right 0 bottom 0;
      padding: 3rem 3rem 28vw 3rem;

      .clearFloat {
        clear: right;
      }

      h2 {
        margin-bottom: 1rem;
      }

      .imgAbout {
        float: right;
        margin-bottom: 1rem;

        img {
          width: 100%;
          height: auto;
        }
      }

      .wrapTextAbout {
        margin-bottom: 3rem;
      }

      #playAbout {
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15vw;
        height: 9vw;
        @include border-radius(4vw);
        border: 3px solid #669900;
        background-color: #ccff33;
        color: #669900;
      }
    }
  }
}

// Page Mentions légales
#mentionsContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #DEA000;
  padding-left: 16vh;

  #mentionsImmeubleLeft {
    z-index: 7000;
    position: fixed;
    top: 0;
    left: 0;
    width: 14vh;
    height: 100%;
    background-image: url('../images/aerations-droite.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right 0 bottom 0;
    @include transform(scaleX(-1));
  }

  #mentionsTextBorder {
    position: fixed;
    top: 7.5rem;
    left: 12vh;
    z-index: 5000;
    width: 4vh;
    height: 100vh;
    background-image: url('../images/barre-bulle.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right 0 bottom 0;
    @include transform(scaleX(-1));
  }

  #mentionsTextContainer {
    width: 100%;
    height: calc(100vh - 7rem);
    margin-top: 7rem;
    overflow-y: scroll;
    background-color: $white;
    padding: 3rem 3rem 5rem 3rem;
  }
}

#playButton {
  z-index: 7000;
  position: fixed;
  @include transform(translateX(50%));
  right: 50%;
  bottom: 5%;
  width: 43vw;
  height: 22vw;
  background-color: rgba(255,255,255,0.8);
  @include border-radius(9vw);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7vw;
  color: $black;
  cursor: pointer;

  &:hover {
    border: 4px solid #669900;
  }
}

// Page Profil joueur
#profilContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #DEA000;

  #profilImmeubleLeft {
    z-index: 7000;
    position: fixed;
    top: 0;
    left: -3rem;
    width: 12vh;
    height: 100%;
    background-image: url('../images/aerations-gauche-profil.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: left 0 bottom 0;
  }

  #profilContainerScroll {
    height: calc(100vh - 7rem);
    margin-top: 7rem;
    padding-left: 12vh;
    overflow-y: scroll;

    #profilTextContainer {
      width: 100%;
      height: calc(100vh - 7rem);
      padding: 3rem 1.5rem 3rem 0;

      @for $i from 1 through 6 {
        h#{$i} {
          color: $marron;
        }
      }

      #profilHeader {
        margin-bottom: 2rem;

        #profilName {
          display: flex;
          align-items: center;
          margin-bottom: 1rem;
          margin-left: -2rem;

          h2 {
            margin-right: 3rem;
          }

          .logoutButton {
            @extend .marronButton;
            background-color: lighten($marron, 10%);
            margin-top: -1rem;

            &:hover {
              background-color: lighten($marron, 20%);
            }
          }
        }

        p {
          color: $white;
        }
      }

      #profilAdventures {
        .adventureHeader {
          h3 {
            margin-left: -2rem;
          }

          .adventureDownHead {
            display: flex;
            flex-wrap: nowrap;

            .profilAdventuresImg {
              width: 100px;
              height: 100px;

              margin-left: -2rem;
            }

            .adventureLinks {
              display: flex;
              flex-wrap: wrap;
              justify-content: flex-start;
              align-content: flex-end;
            }

            .adventureInfos {
              display: flex;
              flex-wrap: wrap;
              justify-content: flex-start;
              align-content: flex-end;
            }
          }
        }
      }
    }
  }
}



/******************************/
/******* ADMINISTRATION *******/
/******************************/
#interfaceAdmin {
  //background-color: rgba(0,0,0,0.05);
  padding: 4rem;

  fieldset {
    border: 1px solid black;
    padding: 2rem;
  }

  legend {
    width: auto;
  }

  input {
    font-size: 2rem;
  }

  textarea {
    font-size: 1.6rem;
  }

  .custom-file-input {
    opacity: 1;
  }

  .custom-file-label::after {
    content: none;
  }

  .descriptionAdventRow200 {
    textarea {
      height: 200px;
    }
  }

  .descriptionAdventRow100 {
    textarea {
      height: 100px;
    }
  }

  .row {
    margin-bottom: 3rem;
  }
}


/******************************/
/******* MEDIA QUERIES *******/
/******************************/
@media screen and (orientation : landscape) {
  @import "landscape";
}

@media screen and (min-width: $min-breakpoint-xmobile) {
  @import "front-mobile-xl";
}

@media screen and (min-width: $min-breakpoint-mobile) {
  @import "front-small-tablet";
}

@media screen and (min-width: $min-breakpoint-tablet) {
  @import "front-tablet";
}

@media screen and (min-width: $min-breakpoint-desktop) {
  @import "front-desktop";
}

@media screen and (min-width: $min-breakpoint-desktopXL) {
  @import "front-desktop-xl";
}