@import '_variables';
@import '_mixins';

// Charte
@import '_global';

header {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  height: 7rem;
  width: 100%;
  background-color: #dfa619/*#f9f9f8*/;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  #burgerButton {
    .bar1, .bar2, .bar3 {
      width: 30px;
      height: 2px;
      background-color: $black;
      margin: 8px 0;
      @include transition(all .4s linear);
    }

    &.activeBurger {
      .bar1 {
        @include transform(rotate(-45deg) translate(-9px, 5px));
      }
      .bar2 {opacity: 0;}
      .bar3 {
        @include transform(rotate(45deg) translate(-8px, -6px));
      }
    }
  }
}

nav {
  z-index: 8000;
  position: fixed;
  width: 100%;
  height: 20rem;
  top: -20rem;
  left: 0;
  @include transition(all .2s linear);
  background-color: #fdc53c;
  padding: 3rem;
  text-align: right;
  @include border-radius(0 0 10px 10px);

  a {
    color: black;
  }

  &.openedNav {
    top: 7rem;
  }
}

#citygma_container {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  background-color: #DEA000;

  #homepageTitle {
    width: 100%;
    text-align: center;

    h2 {
      font-size: 1.5rem;
      color: red;
    }
  }
}

#homepageContainer {
  width: 100%;
  height: 100%;
}

#homepageBubble {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;

  #homepageText {
    width: 60vw;
    height: 100%;
    background-color: $white;
    padding: 9rem 2rem 0 2rem;
  }

  #homepageTextBorder {
    z-index: 5000;
    width: 4vh;
    height: 100%;
    background-image: url('../images/barre-bulle.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right 0 bottom 0;
  }
}

#homepageImmeubles {
  z-index: 6000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../images/ville.png');
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: right 0 bottom 0;

  #playButton {
    position: fixed;
    @include transform(translateX(50%));
    right: 50%;
    bottom: 5%;
    width: 43vw;
    height: 22vw;
    background-color: rgba(255,255,255,0.8);
    @include border-radius(9vw);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vw;
  }
}

#homepageImmeubleRight {
  z-index: 7000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/aerations-droite.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right 0 bottom 0;
}

@media screen and (orientation : landscape) {
  @import "landscape";
}

@media screen and (min-width: $min-breakpoint-tablet) {
  @import "front-tablet";
}

@media screen and (min-width: $min-breakpoint-desktop) {
  @import "front-tablet";
}